<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MD5Key" value="tmsk_mu_06"/>
    <add key="ServerKey" value="MK:OJojPJMP"/>
    <add key="LimitIP" value="127.0.0.1,localhost,47.104.247.119"/>
    <!--需要运维填写的配置 start-->
    <add key="UseLanIp" value="1"/>
    <!--本平台两个服务器列表接口,如果后面的每个平台的都填了,这两个可以不填.如果ServerListUrl包括跨服和非跨服所有的服务器,则KuaFuServerListUrl可以不填-->
    <add key="ServerListUrl" value="2http://android-qj-login.tmskapp.com/QQZTServerList/GetServerListKf.aspx?ptid=1"/>
    <add key="KuaFuServerListUrl" value="2http://android-qj-login.tmskapp.com/QQZTServerList/GetServerListKf.aspx?ptid=2"/>
    <!--配置服务端口-->
    <add key="ServiceUri" value="net.tcp://0.0.0.0:4002/"/>
    <!-- 平台充值王 -->
    <add key="PlatChargeKingUrl" value="http://android-qj-login.tmskapp.com/YYBPaiHang/GetPaiHang.aspx"/>
    <!-- 每日平台充值王 -->
    <add key="PlatChargeKingUrl_EveryDay" value="http://android-qj-login.tmskapp.com/YYBPaiHang/paihangnew.aspx/ptczw/paihangnew.aspx"/>    
    <!--add key="ConnectionString" value="host=127.0.0.1; user id=root; password=zkqingfish*; database='mu_kuafu'; pooling=true; charset=utf8;Default Command Timeout=0" /-->
    <add key="ConnectionString" value="6E2EA56DFDD7F9EEFBFEB94B149E076ADABDE688AFB281D472DC791D571AEDF031E867767EBD1D50C513C30BB87539265E93F35C348CDECEF6B896FD2BBC65D834D4ED697B4E0C03D31F4F24311502742D3D5DB883E7A547A5D2DBBB7C42656BD38A686572077DB31C8D04A5869B6C9135CF66C07514C5B5A5918692DD5F351D"/>
    <!--游戏配置文件路径-->
    <add key="ResourcePath" value="C:\Users\admin\Desktop\新建文件夹 (2)\mu_server\server\GameRes"/>
    <!--跨服主线地图分线对应服务器ID-->
    <add key="KuaFuMapLine" value="1,9000|2,9001|3,29000|4,39000|5,49000"/>
    <!--军团和其他特殊活动地图专用分线对应服务器ID-->
    <add key="SpecialLine" value="19,9000|20,9000|22,9000|27,9000|28,9000|29,9000"/>
    <!--平台类型 app,android,yueyu,yyb-->
    <add key="Platform" value="yyb"/>
    <!--跨平台跨服服务端口号(默认配置4001)-->
    <add key="ServicePort" value="4003"/>
    <!--跨平台跨服包含的所有平台类型(大陆配置为app,android,yueyu,yyb)-->
    <add key="PlatfromAll" value="app,android,yueyu,yyb"/>
    <!--本中心服务器,是否是跨平台跨服的中心,0(否)或1(是)-->
    <add key="PingTaiKuaFu" value="0"/>
    <!--是否开启跨平台跨服的中心测试模式,0(否)或1(是)-->
    <add key="PingTaiKuaFuTestMode" value="0"/>
    <!--跨平台跨服/跨服世界使用的跨服服务器编号(请运维新增5组跨服服务器,不和以前其他任何跨服活动共用,配置格式同KuaFuMapLine)-->
    <add key="PingTaiKuaFuServerLine" value="1,9000|2,19000|3,29000|4,39000|5,49000"/>
    <!--每个平台原服服务器列表接口-->
    <add key="ServerListUrl_app" value="http://ios-qj-login.tmskapp.com/ZTServerList/GetServerListKf.aspx?ptid=1"/>
    <add key="ServerListUrl_android" value="http://android-qj-login.tmskapp.com/ZTServerList/GetServerListKf.aspx?ptid=1"/>
    <add key="ServerListUrl_yueyu" value="http://yueyu-qj-login.tmskapp.com/xymuZTServerList/GetServerListKf.aspx?ptid=16"/>
    <add key="ServerListUrl_yyb" value="http://android-qj-login.tmskapp.com/QQServerList/GetServerListKf.aspx"/>
    <!--每个平台跨服服务器列表接口,如果原服列表ServerListUrl包括跨服和非跨服所有的服务器,则这些跨服列表填空("")-->
    <add key="KuaFuServerListUrl_app" value="http://ios-qj-login.tmskapp.com/ZTServerList/GetServerListKf.aspx?ptid=2"/>
    <add key="KuaFuServerListUrl_android" value="http://android-qj-login.tmskapp.com/ZTServerList/GetServerListKf.aspx?ptid=2"/>
    <add key="KuaFuServerListUrl_yueyu" value="http://yueyu-qj-login.tmskapp.com/xymuZTServerList/GetServerListKf.aspx?ptid=4"/>
    <add key="KuaFuServerListUrl_yyb" value="http://android-qj-login.tmskapp.com/QQServerListKf/GetServerListKf.aspx"/>
    <!--需要运维填写的配置 end-->
  </appSettings>
  <system.runtime.remoting>
    <!--customerrors mode="off" /-->
    <application name="KuaFuService">
      <lifetime leaseTime="2000S" sponsorshipTimeout="0S" renewOnCallTime="180S" leaseManagerPollTime="5S"/>
      <service>
        <!--数据库名配置  start-->
        <wellknown mode="Singleton" type="KF.Remoting.YongZheZhanChangService,KF.Remoting.HuanYingSiYuan" objectUri="YongZheZhanChangService.soap"/>
        <wellknown mode="Singleton" type="KF.Remoting.TianTiService,KF.Remoting.HuanYingSiYuan" objectUri="TianTiService.soap"/>
        <wellknown mode="Singleton" type="KF.Remoting.SpreadService,KF.Remoting.HuanYingSiYuan" objectUri="SpreadService.soap"/>

        <wellknown mode="Singleton" type="KF.Remoting.HuanYingSiYuanService,KF.Remoting.HuanYingSiYuan" objectUri="HuanYingSiYuanService.soap"/>
        <wellknown mode="Singleton" type="KF.Remoting.KuaFuCopyService,KF.Remoting.HuanYingSiYuan" objectUri="KuaFuCopyService.soap"/>

        <wellknown mode="Singleton" type="KF.Remoting.AllyService,KF.Remoting.HuanYingSiYuan" objectUri="AllyService.soap"/>
        <wellknown mode="Singleton" type="KF.Remoting.IPStatisticsService,KF.Remoting.HuanYingSiYuan" objectUri="IPStatisticsService.soap"/>
        <wellknown mode="Singleton" type="KF.Remoting.JunTuanService,KF.Remoting.HuanYingSiYuan" objectUri="JunTuanService.soap"/>
        <wellknown mode="Singleton" type="KF.Remoting.KuaFuWorldService,KF.Remoting.HuanYingSiYuan" objectUri="KuaFuWorldService.soap"/>
      </service>
      <channels>
        <channel ref="tcp" port="4002">
          <serverProviders>
            <provider type="KF.Remoting.MyServerChannelSinkProvider,KF.Remoting.HuanYingSiYuan"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <formatter ref="binary"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
